.main-app {
    display: block;
    padding: auto;
}

.main-index-content {
    display: flex;
    justify-content: center;
}

.section-cards {
    display: flex;
    justify-content: center; 
    gap: 2rem;
}

.banner-image{
    max-width: 40rem;
}

.features-container {
    display: flex;
    justify-content: space-between;
}

.feature {
    flex: 1;
    margin: 0 1rem;
}

.feature ul {
    list-style-type: disc;
    margin-left: 1rem;
}
