<!-- HomePage -->
<main class="main-app">
  <section class="section-cards" style="margin-bottom: 2rem">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Physician</h5>
          <p class="card-text">Physician functionality provides a proper physician record and management capabilities, including the ability to:</p>
          <ul>
            <li>Register/Add new Physicians to the database</li>
            <li>Delete existing Physician record</li>
            <li>List all Physician record</li>
            <li>Display each Physician details</li>
            <li>Update existing Physician information</li>
          </ul>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="nav-item nav-link" routerLink="/add-physician">Physician Registration</a></li>
          <li class="list-group-item"><a class="nav-item nav-link" routerLink="/list-physician">Physician Database</a></li>
        </ul>
        <div class="card-body">
          <a href="www.linkedin.com/in/kai-yan-foo">Foo Kai Yan </a>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Medication</h5>
          <p class="card-text">Medication functionality provides a proper medicine record and management capabilities, including the ability to:</p>
          <ul>
            <li>Register/Add new medicine records</li>
            <li>Delete existing medicine record</li>
            <li>List all medication records</li>
            <li>Display each medicine details</li>
            <li>Update existing medicine information</li>
          </ul>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="nav-item nav-link" routerLink="/add-medication">Medicine Registration</a></li>
          <li class="list-group-item"><a class="nav-item nav-link" routerLink="/list-medication">Medication Records</a></li>
        </ul>
        <div class="card-body">
          <a href="www.linkedin.com/in/kai-yan-foo">Foo Kai Yan </a>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Patient</h5>
          <p class="card-text">Patient functionality provides a comprehensive patient registration and management capabilities, including the ability to:</p>
          <ul>
            <li>Add new patient records</li>
            <li>Delete existing patient information</li>
            <li>List all patient records</li>
            <li>Display each patient details</li>
            <li>Update existing patient information</li>
          </ul>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="nav-item nav-link" routerLink="/add-patient">Patient Registration</a></li> 
          <li class="list-group-item"><a class="nav-item nav-link" routerLink="/list-patients">Patients Records</a></li>
        </ul>
        <div class="card-body">
          <a href="www.linkedin.com/in/alicia-chik-wen-quek">Alicia Quek Chik Wen </a>
        </div>
    </div>
  </section>
  <section class="section-cards" style="margin-bottom: 2rem">
    <div class="card" style="width: 79rem;">
      <div class="card-body">
        <h5 class="card-title">Appointment, Consultation, Prescription</h5>
        <div class="features-container">
          <div class="feature">
            <p class="card-text">Appointment functionality provides a proper appointment scheduling function by:</p>
            <ul>
              <li>Schedule new appointment</li>
              <li>List all appointment</li>
              <li>Delete existing appointment</li>
              <li>Display each appointment details</li>
              <li>Update/Reschedule existing appointment information</li>
            </ul>
          </div>
          <div class="feature">
            <p class="card-text">Encounter/Consultation functionality provides a proper encounter/consultation session function by:</p>
            <ul>
              <li>Initiate encounter/consultation session</li>
              <li>List all encounter/consultation session</li>
              <li>Delete encounter/consultation session</li>
              <li>Display encounter/consultation session detail</li>
              <li>Update encounter/consultation session</li>
            </ul>
          </div>
          <div class="feature">
            <p class="card-text">The prescription functionality offers accurate and detailed prescriptions for patients. This includes the ability to:</p>
            <ul>
              <li>Register/Add new prescription</li>
              <li>Delete existing prescription record</li>
              <li>List all prescription records</li>
              <li>Display each prescription details</li>
              <li>Update existing prescription information</li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="nav-item nav-link" routerLink="/add-appointment">Schedule Appointment</a></li>
        <li class="list-group-item"><a class="nav-item nav-link" routerLink="/list-appointment">List All Appointment</a></li>
      </ul>
      <div class="card-body">
        <a href="www.linkedin.com/in/alicia-chik-wen-quek">Alicia Quek Chik Wen</a> 
        <p> </p>
        <a href="www.linkedin.com/in/kai-yan-foo">Foo Kai Yan</a>
      </div>
    </div>
  </section>  
  <section class="section-cards" style="margin-bottom: 2rem">
    <div class="card" style="width: 79rem;">
      <div class="card-body">
        <h5 class="card-title">About Us</h5>
        <p class="card-text">At Medicare Clinic, our mission is simple: to enhance lives through personalized healthcare.</p>
        <p class="card-text">We believe that everyone deserves access to high-quality medical services, and we strive to make a positive impact on the health and well-being of our community.</p>
      </div>
    </div>
    <!-- <div class="card" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title">Meet Team MDS02: The Resilient Crew</h5>
        <h6 class="card-title">Team MDS02 is a spirited ensemble of data enthusiasts, each bringing their unique flair to the world of data science.</h6>
        <p class="card-text">Team MDS02 consists of 4 Data Warriors who battle stress while creating this web application, handwriting text recognition model, and the image-cropping model. The team is supervised by the one and only Dr. Fermi, our Zen Master, who supervised us with calm resolve.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="nav-item nav-link" routerLink="/">Foo Kai Yan ♠ Project Manager</a></li>
        <li class="list-group-item"><a class="nav-item nav-link" routerLink="/">Alicia Quek Chik Wen ♥ Web Technical Lead</a></li>
        <li class="list-group-item"><a class="nav-item nav-link" routerLink="/">Eunice Lee Wen Jing ♣ Quality Assurance</a></li>
        <li class="list-group-item"><a class="nav-item nav-link" routerLink="/">Jesse Yow San Gene ♦ Model Technical Lead</a></li>
        <li class="list-group-item">
          <a href="https://www.monash.edu.my/it/staff/academic/dr-muhammad-fermi-pasha">Dr. Muhammad Fermi Pasha ⌨ Supervisor</a>
        </li>        
      </ul>
    </div> -->
  </section>
</main>
<footer class="bg-dark text-center text-white">
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2024 Built by:
  <a class="text-white">MDS02</a>
</div>
</footer>